/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}
/* Container for the main content  */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* === === === . === === === */

/* Footer Styles */
footer {
  background-color: #659f8f;
}

hr {
  width: 100%;
  margin: 20px;
  border: 0;
  height: 1px;
  background-color: #ff4500;
}
/* === === . === === === */
/* Flex Content */

h2,
h3 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

a,
ul > li {
  text-decoration: none;
  color: #333;
  list-style: none;
  margin: 10px 0;
}
/* === === . === === === */
/* Logo Styles */
img {
  width: auto;
  height: 28px;
}
